*{
  border-radius: 9px;

}
::placeholder {
  color: #A5A5A5;
  opacity: 1;
}

.close{
  text-align:right;
  margin-left: auto;
  text-align: right;
  font-size: 2em;
  font-weight: 500;
  margin-bottom: 5%;
}


form{
  display: flex;
}



h3{
  margin-left: 5%;
  margin-top: 5%;
  margin-bottom: 3%;
}
.left-side{
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  width: 60%;
  margin: 0 5%;
}
.left-side *{
  padding: 2%;
  text-indent: 2%;
  margin-top: 23px;
}
.left-side>:first-child{
  margin-top: 0;
}
.right-side{
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  width: 28%;
}
.right-side *{
  padding: 0;
  text-indent: 4%;
  margin-top: 23px;
  height: 3.3em;
}
.right-side>:first-child{
  margin-top: 0;
}


.buttons{
  display: flex;
  justify-content: space-between;
  margin-left: 0;
  margin-top: .7em;
  margin-bottom: 0;
}
.buttons *{
  border: none;
  border-radius: 9px;
  padding: 5% 11%;
  color: white;
  background: #4B4B4B;
}

#submitBtn{
  padding: 5% 14%;
  background: #48C15B;
  max-width: 7.875em;
}
.error{
  margin: 0 !important;
  color: red;
  margin-bottom: 0.001;
  padding: 0 !important;
  height: 1.3em !important;
}

form .ng-invalid.ng-touched {
  outline: 1.5px solid red;
}

