<div mat-dialog-content id="popup">
  <span class="close" mat-button mat-dialog-close>&times;</span>
  <h3>Add a New Task</h3>
  <form (ngSubmit)="onSubmit(taskForm)" #taskForm="ngForm">
    <div class="left-side">
      <input
        type="text"
        name="title"
        id="title"
        placeholder="Title"
        ngModel
        name="title"
        required>
      <textarea name="description" id="description" rows="8" placeholder="Description" ngModel></textarea>
    </div>
    <div class="right-side">
      <input type="text" name="date" placeholder="Date" onfocus="this.type='date'" onblur="this.type='text' | Date" ngModel>
      <select name="priority" id="priority" ngModel required>
        <option value="" selected disabled hidden>Priority</option>
        <option value="Low">Low</option>
        <option value="Medium">Medium</option>
        <option value="High">High</option>
      </select>
      <select name="status" id="status" ngModel>
        <option value="" selected disabled hidden>Status</option>
        <option value="Not Started">Not Started</option>
        <option value="In Progress">In Progress</option>
        <option value="Completed">Completed</option>
      </select>
      <div class="buttons">
        <button type="button" style="cursor: pointer;" mat-button mat-dialog-close>Cancel</button>
        <button type="submit" id="submitBtn" mat-button [mat-dialog-close] [disabled]="!taskForm.valid">Create</button>
      </div>
    </div>
  </form>
</div>

