.profile{
  display: flex;
}
.profile-pic{
  border-radius: 100px;
  height: 2.375rem;
  margin-left: 30%;
}

.info>p{
  font-size: .75rem;
  color: #898989;
  font-family: 'Inter';
  font-style: normal;
  font-weight: 500;
  line-height: 20px;
  padding-left: 20%;
  padding-top: 1%;
  margin: 0;

}
h6{
  font-size: .875em;
  padding-left: 20%;
  margin: 0;
  width: 100px;
  font-family: 'Inter';
  font-style: normal;
  font-weight: 500;
  line-height: 20px;
  color:#1E1E1E;
}
.logout{
  padding-left: 140%;
}
