h1{
  color: #000;
  font-family: 'Inter';
  font-size: 2.5rem;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  margin-bottom: 0.875em;
}

h5{
  color: #A5A5A5;
  font-family: 'Inter';
  font-size: 1.375rem;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
}

.container{
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  text-align: left;
  margin: 0;
  padding: 0;
  width: 50rem;
}


.column{
  border-radius: 8px;
  border: 1px solid #DCDCDC;
  background: #F9F9F9;
  flex-shrink: 0;
  width: 25.353375rem;
  min-height: 49.3125rem;
  margin-right: 1.5rem;
  display: flex;
  flex-direction: column;
  align-items: center;

}

.taskCard{
  margin-top: 5%;
  border-radius: 8px;
  border: 1px solid #DCDCDC;
  background: #FFFF;
  width: 95%;
  padding: 5%;
  display: flex;
  justify-content: space-between;
}
.left-side{
  display: flex;
  flex-direction: column;
}

.left-side>p{
  color: #000;
  font-family: 'Inter';
  font-size: 1.375rem;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
}
.left-side span{
  color: #A5A5A5;
  font-family: 'Inter';
  font-size: 1rem;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  margin-right: 1rem;
}

.info{
  display: flex;
}
.info>p{
  color: #000;
  font-family: 'Inter';
  font-size: 1rem;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}

.status{
  text-align: center;
  padding: 1%;
  border: none;
  border-right: 6px solid transparent;
  border-radius: 4px;
  background: #FCF299;
  width: 5.375rem;
  height: 1.8rem;
  flex-shrink: 0;
  color: #656339;
  font-family: 'Inter';
  font-size: 1rem;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
}

.inProgress .status{
  border-radius: 4px;
  background: #99F6FC;
  width: 8rem;
}

.Done .status{
  border-radius: 4px;
  background: #A7FC99;
}
