<h1>KanBan</h1>
<div class="container">
  <div class="toDo">
    <h5>To Do</h5>
    <div class="column">
      <ng-container *ngFor="let task of tasks; let i = index">
        <ng-container *ngIf="task.status == 'To Do'">
          <div class="taskCard" >
            <div class="left-side">
              <p>{{ task.title | slice: 0:13 }} </p>
              <div class="info">
                <span>Priority: </span> <p><select name="priority" class="priority" id="priority" [(ngModel)]="task.priority" (change)="priorityChange()" >
                  <option value="" selected disabled hidden>Priority</option>
                  <option value="Low">Low</option>
                  <option value="Medium">Medium</option>
                  <option value="High">High</option>
                </select></p>
              </div>
              <div class="info">
                <span>Due Date: </span> <p>{{task.date | date: 'MMMM d'}}</p>
              </div>
            </div>
            <select name="status" class="status" id="status" [(ngModel)]="task.status" (change)="statusChange()">
              <option value="To Do">To Do</option>
              <option value="In Progress">In Progress</option>
              <option value="Done">Done</option>
            </select>
          </div>
        </ng-container>
      </ng-container>
    </div>
  </div>


  <div class="inProgress">
    <h5>In Progress</h5>
    <div class="column">
      <ng-container *ngFor="let task of tasks; let i = index">
        <ng-container *ngIf="task.status == 'In Progress'">
          <div class="taskCard" >
            <div class="left-side">
              <p>{{ task.title | slice: 0:13 }} </p>
              <div class="info">
                <span>Priority: </span> <p><select name="priority" class="priority" id="priority" [(ngModel)]="task.priority" (change)="priorityChange()" >
                  <option value="" selected disabled hidden>Priority</option>
                  <option value="Low">Low</option>
                  <option value="Medium">Medium</option>
                  <option value="High">High</option>
                </select></p>
              </div>
              <div class="info">
                <span>Due Date: </span> <p>{{task.date | date: 'MMMM d'}}</p>
              </div>
            </div>
            <select name="status" class="status" id="status" [(ngModel)]="task.status" (change)="statusChange()">
              <option value="To Do">To Do</option>
              <option value="In Progress">In Progress</option>
              <option value="Done">Done</option>
            </select>
          </div>
        </ng-container>
      </ng-container>
    </div>
  </div>


  <div class="Done">
    <h5>Done</h5>
    <div class="column">
      <ng-container *ngFor="let task of tasks; let i = index">
        <ng-container *ngIf="task.status == 'Done'">
          <div class="taskCard" >
            <div class="left-side">
              <p>{{ task.title | slice: 0:13 }} </p>
              <div class="info">
                <span>Priority: </span> <p><select name="priority" class="priority" id="priority" [(ngModel)]="task.priority" (change)="priorityChange()" >
                  <option value="" selected disabled hidden>Priority</option>
                  <option value="Low">Low</option>
                  <option value="Medium">Medium</option>
                  <option value="High">High</option>
                </select></p>
              </div>
              <div class="info">
                <span>Due Date: </span> <p>{{task.date | date: 'MMMM d'}}</p>
              </div>
            </div>
            <select name="status" class="status" id="status" [(ngModel)]="task.status" (change)="statusChange()">
              <option value="To Do">To Do</option>
              <option value="In Progress">In Progress</option>
              <option value="Done">Done</option>
            </select>
          </div>
        </ng-container>
      </ng-container>
    </div>
  </div>
</div>

