<h1>KanBan</h1>
<div class="container">
  <div class="toDo">
    <h5>To Do</h5>
    <div class="column">
      <div class="taskCard">
        <div class="left-side">
          <p>Task Name</p>
          <div class="info">
            <span>Priority: </span> <p>High</p>
          </div>
          <div class="info">
            <span>Due Date: </span> <p>March 31</p>
          </div>
        </div>
        <span class="status">Status &#8681;</span>
      </div>
    </div>
  </div>


  <div class="inProgress">
    <h5>In Progress</h5>
    <div class="column">
      <div class="taskCard">
        <div class="left-side">
          <p>Task Name</p>
          <div class="info">
            <span>Priority: </span> <p>High</p>
          </div>
          <div class="info">
            <span>Due Date: </span> <p>March 31</p>
          </div>
        </div>
        <span class="status">Status &#8681;</span>
      </div>
    </div>
  </div>


  <div class="Done">
    <h5>Done</h5>
    <div class="column">
      <div class="taskCard">
        <div class="left-side">
          <p>Task Name</p>
          <div class="info">
            <span>Priority: </span> <p>High</p>
          </div>
          <div class="info">
            <span>Due Date: </span> <p>March 31</p>
          </div>
        </div>
        <span class="status">Status &#8681;</span>
      </div>
    </div>
  </div>
</div>
