.dismiss{
  position: absolute;
  top: 0;
  right: 2%;
  font-size: 2rem;
}
.dismiss:hover{
  color: #b5b5b5;
}

.status{
  text-align: center;
  padding: 3% 0 .5% 0;
  border: none;
  border-right: 6px solid transparent;
  background: #FCF299;
  color: #656339;
  font-family: 'Inter';
  font-size: 2em;
  font-style: normal;
  font-weight: 600;
}

.status.inProgress{
  border-radius: 4px;
  background: #99F6FC;
}

.done.status{
  border-radius: 4px;
  background: #A7FC99;
}

.container{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.taskInfo{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 2% 0 0;
  font-family: 'Inter';
  font-style: normal;
  font-weight: 600;
  text-align: center;
}

.taskInfo span{
  font-weight: bolder;
}

.buttons{
  display: flex;
  justify-content: center;
}
button.edit{
  background:#b5b5b5;
  width: 20%;
  text-align: center;
  border: none;
  border-radius: 9px;
  color: white;
  padding: 3.5% 1%;
  margin: 0 5%;
  font-family: 'Inter';
  font-size: 1rem;
  font-style: normal;
  font-weight: 600;
  line-height: 20px;
}


button.delete{
  background: #FF6969;
  width: 20%;
  text-align: center;
  border: none;
  border-radius: 9px;
  color: white;
  padding: 3.5% 1%;
  margin: 0 5%;
  font-family: 'Inter';
  font-size: 1rem;
  font-style: normal;
  font-weight: 600;
  line-height: 20px;
}
