
.notification {
  position: fixed;
  display: flex;
  margin-top: 0.8rem;
  margin-left: 18.7rem;
  border-radius: 8px;
  /* border: 1px solid #48c15b; */
  background: #d9f5dd;
  width: 29.875rem;
  height: 2.75rem;
  padding: 0 2%;
  flex-shrink: 0;
}



.notification>span{
  align-self: center;
  color: #214b28;
  font-family: 'Inter';
  font-size: 0.75rem;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}

.notification.deleted{
  background: #ff8787;

}
.notification.deleted>span{
  color: white;
}
.notification.updated{
  background: #ffe0ae;
}
