.container{
  background: white;
  width: 100%;
  height: 100vh;
}
h1{
  position: fixed;
  top: 5%;
  left: 1.3125em;
  font-family: 'Inter';
  font-size: 28px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  background: linear-gradient(to right, #48C15B 74%, #000000 26%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}


.taskButton{
  top: 7.8125em;
}
.kanBan{
  top: 11.9375em;
}
.bored{
  top: 16.0625em
}
button{
  position: fixed;
  border-radius: 12px;
  padding: 0.9375em 0;
  height: 3em;
  width: 12.5em;
  left: 1.375em;
  border: none;
  font-family: Inter;
  font-size: 16px;
  font-weight: 600;
  line-height: 19px;
  letter-spacing: 0em;
  text-align: center;

}
button{
  color: #000000;
  background: #F8F8F8;
}
.active{
  background: #48C15B;
  color: white;
}
app-profile{
  position: absolute;
  width: 100%;
  padding: 5%;
  z-index: 100;
  bottom: 2px;
  border-top: 1px solid rgb(207, 207, 207);

}
