<div class="container">
  <div><h1>Welcome to TASKIT</h1></div>
  <p>This platform allows you to keep track of tasks professionally, domestically, and more. Sign up today to get to work!</p>

  <img src="../../../assets/landing-page-img 1 Background Removed.png" alt="landing-page-img">
  <span>Create an account to get started today.</span>
  <div class="singupButtons">
    <button type="button" style="cursor: pointer;" routerLink="/register">Sign Up</button> <span>or</span> <button type="button" style="cursor: pointer;" routerLink="/login">Login</button>
  </div>
</div>


