
.container{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: 8px;
  width: 63.375em;
  height: 59em;
  border: 1px solid #E8E8E8;
  background: #FAFAFA;
  margin: 5.375em 22.3125em;
  padding: 1px;
}
.container *{
  margin: 1% 0;
}
h1{
  background: linear-gradient(
    to right,
    black 60%,
    #48C15B 60% 90%,
    black 80% 100%
  );
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;

}
p{
  font-size: 1.4375em;
  width: 70%;
}

span{
  font-size: 1.4375em;
  width: 70%;
}

img{
  width: 49.8125em;
  height: 35.5625em;
}
div{
  text-align: center;
}
button{
  background: #48C15B;
  color: white;
  border-radius: 8px;
  padding:  0;
  height: 2.75em;
  width: 10em;
  border: none;
  font-family: Inter;
  font-size: 1.4375em;
  font-weight: 700;
  text-align: center;
}
.singupButtons *{
  margin: 0.71875em;
}
.singupButtons{
  justify-content: flex-start;
  width: 70%;
}
span{
  margin-top: 0;
}
