h1{
  background: linear-gradient(
    to right,
    black 60%,
    #48C15B 60% 90%,
    black 80% 100%
  );
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
