<h1>Task List</h1>
<div class="tasklist-options">
    <div class="filters">
      <Span>Filters: </Span>
      <select name="status" id="" placeholder="status">
        <option value="" disabled selected>Status</option>
        <option value="notStarted">Not Started</option>
        <option value="InProgress">In Progress</option>
        <option value="completed">Completed</option>
      </select>
      <input type="text" name="date" placeholder="Date" min="2000-01-01" max="2029-12-31" onfocus="this.type='date'"/>
      <select class="priority">
        <option value="" disabled selected>Priority</option>
        <option value="low">Low</option>
        <option value="medium">Medium</option>
        <option value="high">High</option>
        </select>
    </div>
    <button>Add New Task</button>
</div>


<hr>
<app-new-task></app-new-task>
