<h1 class="font-bold text-2xl md:text-4xl mb-6 md:mb-12">{{ listName }} List</h1>
<div class="flex flex-col md:flex-row justify-between mb-1 mx-1">
  <form #filters="ngForm" (ngSubmit)="filterTasks(filters)" id="filters" class="flex flex-col md:flex-row md:w-1/2 items-start md:items-end space-y-2 md:space-y-0 md:space-x-3 mb-4 md:mb-0">
    <span class="font-semibold mb-1 md:mb-0 md:mr-3">Filters: </span>
    <select name="status" placeholder="status" class="border border-3 rounded-md py-1 px-2 w-full md:w-auto" ngModel>
      <option value="" selected disabled hidden>Status</option>
      <option value="To Do">To Do</option>
      <option value="In Progress">In Progress</option>
      <option value="Done">Done</option>
    </select>
    
    <mat-form-field class="w-full md:w-auto md:mb-0">
      <mat-label class="text-gray-800">Date</mat-label>
      <mat-date-range-input [rangePicker]="picker" class="flex justify-between">
        <input matStartDate placeholder="Start date" name="startDate" [(ngModel)]="startDate" class="border-gray-300 focus:border-blue-500 rounded-md">
        <input matEndDate placeholder="End date" name="endDate" 
        [(ngModel)]="endDate" class="border-gray-300 focus:border-blue-500 rounded-md">
      </mat-date-range-input>
      <mat-datepicker-toggle matIconSuffix [for]="picker" class="text-gray-800"></mat-datepicker-toggle>
      <mat-date-range-picker #picker></mat-date-range-picker>
    </mat-form-field>

    <select name="priority" class="border border-3 rounded-md py-1 px-2 w-full md:w-auto" ngModel>
      <option value="" selected disabled hidden>Priority</option>
      <option value="Low">Low</option>
      <option value="Medium">Medium</option>
      <option value="High">High</option>
    </select>
    <div class="flex space-x-2 w-full md:w-auto">
      <button type="submit" form="filters" [disabled]="!filters.valid" class="rounded-xl py-2 md:py-1 border-0 px-4 bg-green-500 text-slate-50 font-semibold text-center w-full md:w-auto">Filter</button>
      <button *ngIf="clearFilter" type="reset" [disabled]="!filters.valid" class="rounded-xl py-0 sm:py-1 border-0 px-4 bg-slate-300 text-slate-50 font-semibold text-center w-full md:w-auto" (click)="clearFilters()">Clear</button>
    </div>
  </form>
    <button type="button" class="rounded-xl border-0 px-4 py-2 sm:px-8 bg-green-500 text-slate-50 font-semibold text-center w-full md:w-auto md:min-w-[150px] h-full" (click)='openNew()'>New Task</button>
</div>


<div class="border-2 rounded-xl min-h-[70vh] overflow-x-auto md:overflow-x-visible">
  <div class="flex justify-between text-center py-2 text-slate-400 min-w-max md:min-w-0 px-2 md:px-6">
    <p class="flex justify-start items-center cursor-pointer flex-1 min-w-[200px] px-2" (click)="sortTasks('title')">
      Title 
      <span class="material-symbols-outlined ml-1" *ngIf="sortBy=='title'">
        {{ sortBy=='title' && sortAsc ? 'arrow_drop_up' : 'arrow_drop_down' }}
      </span>
    </p>
    <p class="flex justify-center items-center cursor-pointer flex-1 min-w-[120px]" (click)="sortTasks('date')">
      Due Date 
      <span class="material-symbols-outlined ml-1" *ngIf="sortBy=='date'">
        {{ sortBy=='date' && sortAsc ? 'arrow_drop_up' : 'arrow_drop_down' }}
      </span>
    </p>
    <p class="flex justify-center items-center cursor-pointer flex-1 min-w-[100px]" (click)="sortTasks('priority')">
      Priority 
      <span class="material-symbols-outlined ml-1" *ngIf="sortBy=='priority'">
        {{ sortBy=='priority' && sortAsc ? 'arrow_drop_up' : 'arrow_drop_down' }}
      </span>
    </p>
    <p class="flex justify-center items-center cursor-pointer flex-1 min-w-[100px]" (click)="sortTasks('status')">
      Status 
      <span class="material-symbols-outlined ml-1" *ngIf="sortBy=='status'">
        {{ sortBy=='status' && sortAsc ? 'arrow_drop_up' : 'arrow_drop_down' }}
      </span>
    </p>
    <p class="flex-1 min-w-[100px] text-center">Actions</p>
  </div>
  <hr>
  <div *ngFor="let task of tasks; let i = index" 
       [ngClass]="{'inProgress':task.status=='In Progress', 'done':task.status=='Done'}" 
       class="flex items-center justify-between relative min-w-max md:min-w-0 py-1 px-2 md:px-6">
    <p class="flex-1 min-w-[200px] px-2">
      <textarea type="text" [ngModel]="task.title" (change)="titleChange($event, task)" 
                class="font-semibold pl-2 pt-2 resize-none w-full text-left" 
                [rows]="Math.ceil(task.title.length/38)"></textarea>
    </p>
    <p class="flex-1 min-w-[120px] text-center font-medium">{{ (task.date | date:'mediumDate')}}</p>
    <p class="flex-1 min-w-[100px] text-center px-1">
      <select name="priority" class="text-center p-1 rounded-md text-amber-950 w-24 md:w-1/2 font-semibold" 
              id="priority" [(ngModel)]="task.priority" (change)="priorityChange($event, task)" 
              [ngClass]="{'bg-slate-100':task.priority=='Low', 'bg-orange-200':task.priority=='Medium', 'bg-red-500 text-slate-50':task.priority=='High'}">
        <option value="" selected disabled hidden>Priority</option>
        <option value="Low">Low</option>
        <option value="Medium">Medium</option>
        <option value="High">High</option>
      </select>
    </p>
    <p class="flex-1 min-w-[100px] text-center px-1">
      <select name="status" class="text-center p-1 rounded-md text-amber-950 w-24 md:w-1/2 font-semibold" 
              id="status" [(ngModel)]="task.status" (change)="statusChange($event, task)" 
              [ngClass]="{'bg-inProgress':task.status=='In Progress', 'bg-done':task.status=='Done', 'bg-yellow-200':task.status=='To Do'}">
        <option value="To Do">To Do</option>
        <option value="In Progress">In Progress</option>
        <option value="Done">Done</option>
      </select>
    </p>
    <p [task]="task" [id]="i" class="flex-1 min-w-[100px] text-center flex justify-center space-x-2 md:space-x-4">
      <span><i class="material-symbols-outlined cursor-pointer" (click)="onEdit(task)">edit_square</i></span>
      <span><i class="material-symbols-outlined cursor-pointer" (click)="onView(task)">visibility</i></span>
      <span><i class="material-symbols-outlined cursor-pointer" (click)="onDelete(task)">delete</i></span>
    </p>
    <hr class="absolute bottom-0 left-0 w-full">
  </div>
</div>