/* You can add global styles to this file, and also import other style files */
@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';

*{
  font-family: 'Inter', sans-serif;
}
/* Material Dialog */
.mat-mdc-dialog-container .mdc-dialog__surface {
  border-radius: 16px !important;
}
.logo{
  background: linear-gradient(
    to right,
    #48C15B 0% 74%,
    black 74% 100%
  );
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.logo:hover{
  background: linear-gradient(
    to right,
    black 0% 74%,
    #48C15B 74% 100%
  );
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
form .ng-invalid.ng-touched {
  outline: 1.5px solid red;
}


html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
